TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TARGET_URL=https://resale.paylogic.com/9710ed9ee7304fa29ece85758d0b61da/
CHECK_INTERVAL_CRON=* * * * *
NOTIFY_ON_SOLD_OUT=false
# Heartbeat: periodic "monitor alive" message to Telegram.
# Leave empty to disable. Examples:
#   "0 * * * *" every hour (on the hour)
#   "0 9 * * *" once a day at 09:00
HEARTBEAT_CRON=0 * * * *
